body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.svgItems{
	fill:white;
}

.bar{
	background: green;
	width: 10px;
	position: absolute;

}