extends layout

block content
	p Welcome to ADV(Automated Data Validation)
	h2 Report
	#wrapper
		#summaryResult
			table
				thead
					th ruleName
					th ruleMeaning
					th lowerLimit
					th upperLimit
					th matchScore
					th conclusion
				tbody
		// /summary result
		#detailedResult
			table
				thead
					th ruleName
					th failedValue
				tbody
		h2 Charts
		#valueChart
			#chart-container
		#valuesOverTimeChart
			